week_01/credit/credit
week_01/mario/mario
.DS_Store
week_02/scrabble/scrabble
week_02/readability/readability
week_02/substitution/substitution
week_03/plurality/plurality
week_03/runoff/runoff
week_04/volume/volume
week_04/filter-less/filter-less/filter
*.dSYM/
week_04/recover/card.raw
week_04/recover/recover